.checkbox-cont {
    display: flex;
    /* align-self: center; */
    margin-top: 20px;
    margin-left: 36px;
}

.input__subtitle {
    margin-right: 20px;
    font-size: 17px;
}

.popup__table {
    margin: 0 0 0 36px;
    /* border: 1px solid #000000; */
}

.popup__table-text {
    /* margin-left: 36px;
    margin-top: 10px; */
    margin: 20px 0 10px 36px;
    font-size: 17px;
}


.popup__table-head {
    border: 1px solid #000000;
    height: 25px;
    width: 42px;
}


.popup__table-row {
    display: flex;
}

.popup__table-cell {
    display: block;
    height: 25px;
    width: 42px;
    border: 1px solid #000000;
}

.input-check {
    border: 1px solid #000000;
    height: 25px;
    width: 42px;
    align-self: center;
}

/* The container */
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* height: 42px;
    width: 25px; */
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 42px;
    background-color: #ffc7fa; 
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #f7b0f7;
  }
  
  /* When the checkbox is checked, add a blue background */
 .container input:checked ~ .checkmark {
    background-color: #f7b0f7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 15px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input__subtitle-checkbox {
  margin-top: 30px;
}

.popup_add-teacher {
margin-left: 10px;
}